$container-width: 1110px !default;
$half-gutter-width: $gutter-width * .5;
$outer-margin: 2rem !default;

.container {
   width: 100%;
   padding-right: $half-gutter-width;
   padding-left: $half-gutter-width;
   margin-right: auto;
   margin-left: auto;
}
.container {
   margin: 0 auto;
   max-width: $container-width;
}
.container-fluid {
   margin: 0 auto;
   padding-right: $outer-margin;
   padding-left: $outer-margin;
}